configuration {
  show-icons: true;
  font: "JetBrainsMono Nerd Font Medium 10";
  drun-display-format: "{icon} {name}";
  display-combi: " ";
  display-run: " ";
  display-drun: " ";
  display-window: " ";
  combi-modi: "window,drun";
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

