* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 700;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
  margin-left: 2rem;
}

#clock,
#pulseaudio,
#wireplumber,
#custom-logo,
#custom-power,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#submap,
#workspaces button,
#mpris,
#taskbar {
  border-radius: 1.5rem;
  background-color: #1e1e2e;
  color: #cdd6f4;
  padding: 0 1rem;
  margin: 0 0.1rem;
  margin-top: 1px;
  border: 1px solid #181825;
}

#workspaces button {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

#clock.simpleclock {
  color: #89b4fa;
}

#taskbar button {
  color: white;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
  border-bottom: 2px solid white;
}

#taskbar button:hover {
  background: rgba(200, 200, 200, 0.3);
  color: white;
}

#window {
  color: #cdd6f4;
}

#pulseaudio,
#wireplumber {
  color: #b4befe;
}

#pulseaudio.muted,
#wireplumber.muted {
  color: #a6adc8;
}

#custom-notification {
  color: #cdd6f4;
}

#custom-logo,
#custom-power {
  padding-left: 0.8rem;
  padding-right: 1rem;
}

#custom-logo {
  color: #89b4fa;
  margin-left: 0.4rem;
}

#custom-power {
  color: #f38ba8;
  margin-right: 0.4rem;
}

window#waybar.empty #window,
#taskbar.empty,
#custom-notification.none {
  opacity: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  border: none;
}

tooltip {
  background-color: #181825;
}
